
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main role="main" class="inner cover">
        <img src="@ViewBag.GravatarHashedEmail" class="rounded mx-auto d-block" alt="...">
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <img src="~/Images/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png" />
            <img src="~/Images/linkedin-logos/LinkedIn-Logos/In/Digital/White/2x/In-White-34@2x.png" />
            <img  style="width:84px;" src="~/Images/Stackoverflow/so-icon.png" />
            <img class="" style="width:64px;" src="~/Images/FitbitLogosAndGuidelines/Fw__App_icons/Fitbit_app_icon.png" />
        </p>
    </main>

