
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.IsHomeActive = "";
    ViewBag.IsProjectsActive = "";
    ViewBag.IsContactActive = "active";
}

<h2>Coming Soon...</h2>

